.teamMemberImage {
    border: 2px solid darkseagreen;
    border-radius: 10px;
    /* height: 300px; */
}

.teamMemberDescContainer {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.teamMemberDesc {
    text-align: center;
}

.teamMemberDescName {
    font-size: x-large;
    font-weight: bold;
}

.teamMemberDescEmail {
    text-decoration: none;
    font-style: italic;
}

.teamMemberDescNUID {
    font-style: italic;
}

.profDescContainer {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 1%;
}

.profDesc {
    text-align: center;
}

.profDescName {
    font-size: x-large;
    font-weight: bold;
}

.profDescEmail {
    text-decoration: none;
    font-style: italic;
}

.profImage {
    border: 2px solid darkseagreen;
    border-radius: 10px;
    height: 300px;
    width: 250px;
    display: flex;
    justify-content: center;
}

.myy {
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

.mentorsHeader { 
    justify-content: center;
    display: flex;
    margin-top: 3%;
    margin-bottom: 3%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}