/* .feedback-form-body {
  background-image: url("../Images/Login/loginBackground.jpg");
} */

.feedbackForm {
  padding: 2%;
  margin: 2% 27.5%;
  background-color: #dfdfdf;
  border-radius: 2vh;
}

.ratingValue {
  border: 1px solid grey;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
}

.field-compulsion {
  color: red;
}

input[type=range] {
  height: 29px;
  /* -webkit-appearance: none; */
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 15px;
  cursor: pointer;
  /* animate: 0.2s; */
  box-shadow: 0px 0px 3px #000000;
  background: #B6B6B6;
  border-radius: 50px;
  border: 0px solid #8A8A8A;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 2px 2px 1px #828282;
  border: 1px solid #8A8A8A;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: #DADADA;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #B6B6B6;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 15px;
  cursor: pointer;
  /* animate: 0.2s; */
  box-shadow: 0px 0px 3px #000000;
  background: #B6B6B6;
  border-radius: 50px;
  border: 0px solid #8A8A8A;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 2px 2px 1px #828282;
  border: 1px solid #8A8A8A;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: #DADADA;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 15px;
  cursor: pointer;
  /* animate: 0.2s; */
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #B6B6B6;
  border: 0px solid #8A8A8A;
  border-radius: 100px;
  box-shadow: 0px 0px 3px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #B6B6B6;
  border: 0px solid #8A8A8A;
  border-radius: 100px;
  box-shadow: 0px 0px 3px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 2px 2px 1px #828282;
  border: 1px solid #8A8A8A;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: #DADADA;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #B6B6B6;
}
input[type=range]:focus::-ms-fill-upper {
  background: #B6B6B6;
}



.formErrors {
  color: red;
  font-size: 0.8em;
}

.form-range-on-change {
  color: blue;
}