.header-container {
  width: 100%;
  margin-bottom: 0px;
}

.logout-btn {
  margin-left: 8px;
}

@media screen and (max-width: 1000px) {
  .logout-btn {
    margin-left: 0;
    margin-top: 15px;
    margin-bottom: 5px;
  }
}

.websiteLogo {
  display: flex;
}

.websiteLogo > p {
  color: #dc3545 !important;
}

.activePage {
  text-decoration: underline red 0.15rem;
  text-underline-offset: 0.5em;
}