.header-container {
  width: 100%;
  margin-bottom: 0px;
}

.logout-btn {
  margin-left: 8px;
}

@media screen and (max-width: 1000px) {
  .logout-btn {
    margin-left: 0;
    margin-top: 15px;
    margin-bottom: 5px;
  }
}

.websiteLogo {
  display: flex;
}

.websiteLogo > p {
  color: #dc3545 !important;
}

.activePage {
  text-decoration: underline red 0.15rem;
  text-underline-offset: 0.5em;
}

.profile-btn {
  color: white;
  margin-left: 8px;
}

.profile-btn:hover {
  color: red;
}

.dropdown-menu {
  background-color: black;
  /* rgb(33 37 41); */
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  border-color: rgba(255,255,255,0.55);
}

.dropDownItem-1 {
  /* color: wheat; */
  color: rgba(255,255,255,.55);
  text-align: center;
}

.dropDownItem-2 {
  background-color: red;
  text-align: center;
}

#basic-nav-dropdown {
  color: black;
  background-color: white;
  border: 1px solid transparent;
  font-size: 1rem;
  border-radius: 0.25rem;
  border-color: black;
  margin-left: 0.5rem;
  padding-right: 1.25rem;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
}

#basic-nav-dropdown:hover {
  color: black;
}

#basic-nav-dropdown:active {
  color: rgba(255,255,255,.55);
}

#basic-nav-dropdown::after {
  color: black;
}

.custom-dropdown .dropdown-toggle::after {
  /* content: "\25B2"; */
  transition: transform 0.3s ease; /* Add transition for a smooth effect */
}

.custom-dropdown.open .dropdown-toggle::after {
  transform: rotate(180deg);
}

.custom-dropdown .dropdown-menu {
  display: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  background-color: white;
}

.custom-dropdown.open .dropdown-menu {
  display: block;
  opacity: 1;
  visibility: visible;
}

.dropdown-item {
  background-color: transparent;
  color: black;
  border: 1px solid transparent;
  font-size: 1rem;
  border-radius: 0.25rem;
}

.dropdown-item:hover {
  border: 1px solid transparent;
  border-radius: 3px;
}