.home-container {
    display: flex;
    flex-direction: column;
}

.home-body-container {
    background-image: url('../Images/Home/homeBackground.jpg');
    background-size: cover;
    min-height: 100vh;
}

.navBar {
    margin-right: 5%;
}

.recipe-card-list {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
}