.home-container {
    display: flex;
    flex-direction: column;
}

.home-body-container {
    background-image: url('../Images/Home/homeBackground.jpg');
    background-size: cover;
    min-height: 100vh;
}

.navBar {
    margin-right: 5%;
}