.searchHeaders { 
  justify-content: center;
  display: flex;
  margin-top: 3%;
  margin-bottom: 3%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.searchRecipeCards {
  padding-left: 2%;
  padding-right: 2%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.searchRecipeCards > .cardsContainer {
  width: 100%;
}